<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>20</integer>
		<key>backgroundColor</key>
		<string>30,130,210</string>
		<key>margin</key>
		<string>0</string>
	</dict>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>95</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>扫一扫</string>
				<key>titleColor</key>
				<string>255,255,255</string>
				<key>titleFont</key>
				<integer>17</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_21</string>
				<key>iconWidth</key>
				<integer>40</integer>
				<key>iconHeight</key>
				<integer>40</integer>
				<key>backgroundColor</key>
				<string>30,130,210</string>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>付款</string>
				<key>titleColor</key>
				<string>255,255,255</string>
				<key>titleFont</key>
				<integer>17</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_24</string>
				<key>iconWidth</key>
				<integer>40</integer>
				<key>iconHeight</key>
				<integer>40</integer>
				<key>backgroundColor</key>
				<string>30,130,210</string>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>卡券</string>
				<key>titleColor</key>
				<string>255,255,255</string>
				<key>titleFont</key>
				<integer>17</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_26</string>
				<key>iconWidth</key>
				<integer>40</integer>
				<key>iconHeight</key>
				<integer>40</integer>
				<key>backgroundColor</key>
				<string>30,130,210</string>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>咻一咻</string>
				<key>titleColor</key>
				<string>255,255,255</string>
				<key>titleFont</key>
				<integer>17</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_29</string>
				<key>iconWidth</key>
				<integer>40</integer>
				<key>iconHeight</key>
				<integer>40</integer>
				<key>backgroundColor</key>
				<string>30,130,210</string>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>10</integer>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>margin</key>
		<string>0</string>
	</dict>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>75</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>转账</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_38</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>32</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>信用卡还款</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_39</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>32</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>蚂蚁聚宝</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_40</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>32</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>淘票票</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_41</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>32</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>10</integer>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>margin</key>
		<string>0</string>
	</dict>
	<dict>
		<key>showMargin</key>
		<false/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>75</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>转账</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_46</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>35</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>信用卡还款</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_47</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>35</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>蚂蚁聚宝</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_48</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>35</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>淘票票</string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>titleFont</key>
				<integer>13</integer>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>3_49</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>35</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>60</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>titleColor</key>
				<string>120,120,120</string>
				<key>subtitle</key>
				<string>记录我的生活</string>
				<key>icon</key>
				<string>3_58</string>
				<key>subIcon</key>
				<string>3_55</string>
				<key>rightText</key>
				<string>更多</string>
				<key>iconWidth</key>
				<integer>44</integer>
				<key>iconHeight</key>
				<integer>44</integer>
				<key>iconRight</key>
				<integer>0</integer>
				<key>itemType</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
