<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showSubtitle</key>
		<false/>
		<key>showMargin</key>
		<false/>
		<key>sectionHeight</key>
		<real>0.45</real>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>viewScale</key>
				<string>1</string>
				<key>itemType</key>
				<integer>5</integer>
				<key>images</key>
				<array>
					<string>http://image.365jilu.com/big/2016/20160415/p1agcj4b0m1que1ro4ko4iv89475.jpg</string>
					<string>http://image.365jilu.com/big/2016/20160415/p1agcj67ta7701o8bopq571q895.jpg</string>
					<string>http://image.365jilu.com/big/2016/20160415/p1agcj53eg1v17mmt1fik7s57c35.jpg</string>
					<string>http://image.365jilu.com/big/2016/20160415/p1agcdn3101soojlb1kiqmluas35.jpg</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>130</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题1</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>55</integer>
				<key>iconHeight</key>
				<integer>55</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>标题2</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>55</integer>
				<key>iconHeight</key>
				<integer>55</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<false/>
		<key>sectionHeight</key>
		<integer>90</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题3</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>42</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>标题4</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>42</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>标题5</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>42</integer>
				<key>iconHeight</key>
				<integer>42</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>90</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题6</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>我的图片在右边</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>50</integer>
				<key>iconHeight</key>
				<integer>50</integer>
				<key>iconRight</key>
				<integer>8</integer>
				<key>itemType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>标题7</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>我应该能
成功的换行</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>50</integer>
				<key>iconHeight</key>
				<integer>50</integer>
				<key>itemType</key>
				<integer>2</integer>
				<key>iconRight</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>90</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题8</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>我的图片顶在最右边</string>
				<key>icon</key>
				<string>place1</string>
				<key>iconWidth</key>
				<integer>250</integer>
				<key>iconHeight</key>
				<string>90</string>
				<key>iconRight</key>
				<integer>0</integer>
				<key>itemType</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>48</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>新的模块</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>知名医师，为你保障</string>
				<key>subIcon</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>rightText</key>
				<string>更多</string>
				<key>iconWidth</key>
				<integer>0</integer>
				<key>iconHeight</key>
				<integer>0</integer>
				<key>iconRight</key>
				<integer>0</integer>
				<key>itemType</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showSubtitle</key>
		<false/>
		<key>showMargin</key>
		<false/>
		<key>sectionHeight</key>
		<integer>115</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>某医生</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>70</integer>
				<key>iconHeight</key>
				<integer>70</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>某医生</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>70</integer>
				<key>iconHeight</key>
				<integer>70</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>某医生</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>70</integer>
				<key>iconHeight</key>
				<integer>70</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>某医生</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>子标题1</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>70</integer>
				<key>iconHeight</key>
				<integer>70</integer>
				<key>itemType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showMargin</key>
		<true/>
		<key>showSubtitle</key>
		<true/>
		<key>sectionHeight</key>
		<integer>48</integer>
		<key>margin</key>
		<string>1</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>记录我的生活</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>subIcon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>rightText</key>
				<string>更多</string>
				<key>iconWidth</key>
				<integer>40</integer>
				<key>iconHeight</key>
				<integer>40</integer>
				<key>iconRight</key>
				<integer>0</integer>
				<key>itemType</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showSubtitle</key>
		<false/>
		<key>showMargin</key>
		<false/>
		<key>sectionHeight</key>
		<integer>181</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>左边部分</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>这里有
更详细的信息</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>90</integer>
				<key>iconHeight</key>
				<integer>90</integer>
				<key>itemType</key>
				<integer>4</integer>
				<key>viewScale</key>
				<string>0.3</string>
				<key>section</key>
				<array>
					<dict>
						<key>showMargin</key>
						<true/>
						<key>showSubtitle</key>
						<true/>
						<key>sectionHeight</key>
						<integer>90</integer>
						<key>margin</key>
						<string>1</string>
						<key>items</key>
						<array>
							<dict>
								<key>title</key>
								<string>标题9</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>具体描述</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>50</integer>
								<key>iconHeight</key>
								<integer>50</integer>
								<key>iconRight</key>
								<integer>8</integer>
								<key>itemType</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>标题10</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>详细信息</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>50</integer>
								<key>iconHeight</key>
								<integer>50</integer>
								<key>itemType</key>
								<integer>2</integer>
								<key>iconRight</key>
								<integer>8</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>showMargin</key>
						<true/>
						<key>showSubtitle</key>
						<true/>
						<key>sectionHeight</key>
						<integer>90</integer>
						<key>margin</key>
						<string>6</string>
						<key>items</key>
						<array>
							<dict>
								<key>title</key>
								<string>标题8</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>我的图片顶在最右边</string>
								<key>icon</key>
								<string>place1</string>
								<key>iconWidth</key>
								<integer>220</integer>
								<key>iconHeight</key>
								<string>90</string>
								<key>iconRight</key>
								<integer>0</integer>
								<key>itemType</key>
								<integer>2</integer>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showSubtitle</key>
		<false/>
		<key>showMargin</key>
		<false/>
		<key>sectionHeight</key>
		<integer>217</integer>
		<key>margin</key>
		<string>6</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>右边部分</string>
				<key>titleColor</key>
				<string>46,44,47</string>
				<key>subtitle</key>
				<string>这个是
另外一种自定义风格的section</string>
				<key>icon</key>
				<string>http://file.eeesys.com/attach/147703034112345.png</string>
				<key>iconWidth</key>
				<integer>90</integer>
				<key>iconHeight</key>
				<integer>90</integer>
				<key>itemType</key>
				<integer>4</integer>
				<key>viewScale</key>
				<string>0.3</string>
				<key>sectionRight</key>
				<true/>
				<key>section</key>
				<array>
					<dict>
						<key>showMargin</key>
						<true/>
						<key>showSubtitle</key>
						<false/>
						<key>sectionHeight</key>
						<integer>90</integer>
						<key>margin</key>
						<string>1</string>
						<key>items</key>
						<array>
							<dict>
								<key>title</key>
								<string>标题3</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>42</integer>
								<key>iconHeight</key>
								<integer>42</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>标题4</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>42</integer>
								<key>iconHeight</key>
								<integer>42</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>标题5</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>42</integer>
								<key>iconHeight</key>
								<integer>42</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>showMargin</key>
						<true/>
						<key>showSubtitle</key>
						<true/>
						<key>sectionHeight</key>
						<integer>40</integer>
						<key>margin</key>
						<string>1</string>
						<key>items</key>
						<array>
							<dict>
								<key>title</key>
								<string>新的模块</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>知名医师</string>
								<key>icon</key>
								<string></string>
								<key>subIcon</key>
								<string></string>
								<key>rightText</key>
								<string>更多</string>
								<key>iconWidth</key>
								<integer>0</integer>
								<key>iconHeight</key>
								<integer>0</integer>
								<key>iconRight</key>
								<integer>0</integer>
								<key>itemType</key>
								<integer>3</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>showSubtitle</key>
						<false/>
						<key>showMargin</key>
						<false/>
						<key>sectionHeight</key>
						<integer>85</integer>
						<key>margin</key>
						<string>6</string>
						<key>items</key>
						<array>
							<dict>
								<key>title</key>
								<string>某医生</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>40</integer>
								<key>iconHeight</key>
								<integer>40</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>某医生</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>40</integer>
								<key>iconHeight</key>
								<integer>40</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>某医生</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>40</integer>
								<key>iconHeight</key>
								<integer>40</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>title</key>
								<string>某医生</string>
								<key>titleColor</key>
								<string>46,44,47</string>
								<key>subtitle</key>
								<string>子标题1</string>
								<key>icon</key>
								<string>http://file.eeesys.com/attach/147703034112345.png</string>
								<key>iconWidth</key>
								<integer>40</integer>
								<key>iconHeight</key>
								<integer>40</integer>
								<key>itemType</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
